<template name="Header">
    <img class="ui centered image header" src="/images/top.jpg"
         style="width: 100%; margin-top: 0px; margin-bottom: 0px; max-height: 400px;">
  <div class="ui borderless inverted menu">
    <div class="ui middle aligned container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h2 class="page" style="color: white;">H-UHM</h2></a>
      <a class="right aligned item" href="{{pathFor 'Battle_Buddies'}}">
        <h4 class="page">Battle Buddies</h4></a>
      <a class="item" href="{{pathFor 'Make_Team_Page'}}"><h4 class="page">Make Teams</h4></a>
      <a class="item" href="{{pathFor 'Tournament_Page'}}"><h4 class="page">Tournaments</h4></a>
      <a class="item" href="{{pathFor 'Find Buddies'}}"><h4 class="page">Find Buddies</h4></a>

    </div>
  </div>
</template>